<!DOCTYPE html>
<html lang ="ja">
  <head>
  </head>
  <body>
    <div>編集画面</div>

    <form action="/editComplete/" method= "GET">
      <p>日時：<br>
        <input type="text" name="time" value="">
      </p>
      <p>イベント名：<br>
        <input type="text" name="eventName" value="">
      </p>
      <p>場所：<br>
        <input type="text" name="place" value="">
      </p>
      <p>コメント：<br>
        <input type="text" name="comment" value="">
      </p>
      <p>参加者：<br>
        <input type="text" name="participant" value="">
      </p>
      <input type= "submit" value="完了">
    </form>
  </body>
</html> 

