<!DOCTYPE html>
<html lang ="ja">
  {% include "commonHeader.html" %}
  <body>
    <div class="container">
      <!-- ヘッダーエリア -->
      <div class="container">
        {% include "header.html" %}
      </div>
      <!-- ヘッダーエリア -->
      <!-- 見出しエリア -->
      <div class="container">
        <p class="h3 border-bottom">ユーザ登録</p>
      </div>
      <!-- 見出しエリア -->

      <!-- 入力項目エリア -->
      <form action="/userRegistCommit/" method="POST">
        <div class="container">
          <div class="row col-xs-2">
            <div class="form-group">
              <label>姓</label>
              <input class="form-control" type="text" name="lastName">
            </div>
          </div>
          <div class="row col-xs-2">
            <div class="form-group">
              <label class="control-label">名</label>
              <input class="form-control" type="text" name="firstName">
            </div>
          </div>
          <div class="row col-xs-2">
            <div class="form-group">
              <label class="control-label">性別</label>
              <select class="form-control" name="sex">
                <option value="1">男</option>
                <option value="2">女</option>
              </select>
            </div>
          </div>
          <div class="row col-xs-2">
            <div class="form-group">
              <label class="control-label">ユーザID</label>
              <input class="form-control" type="text" name="userId">
            </div>
          </div>
          <div class="row col-xs-2">
            <div class="form-group">
              <label class="control-label">パスワード</label>
              <input class="form-control" type="password"  name="password">
            </div>
          </div>
          <input type="submit" class="btn btn-secondary" value="登録">
        </div>
      </form>
      <!-- 入力項目エリア -->
    </div>
  </body>
</html>
